@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/homePage.css" />
    <title>@ViewBag.Title</title>
</head>

@section Jumbotron {
<html>
    <body>
        <div class="container-fluid full-screen position-relative w-100">
            <div class="row">
                <div class="col-sm-7 text-center">
                    <h1 class="mt-100 f-110"> Smart <br> Saver </h1>
                    <p>You save - we count.</p>
                    <a href="/Authentication/Register" type="button" class="btn btn-primary mb-100" style="width:300px">GET STARTED</a>
                </div>
                <div class="col-sm bgimg full-screen"></div>
            </div>
            <div class="row bg-sand row-bottom">
                <svg class="m-auto bi bi-chevron-compact-down" onclick="document.getElementById('description').scrollIntoView()" width="64" height="64" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                </svg>
            </div>
        </div>
        <div class="container-fluid position-relative bg-sand" style="min-height:60vh;">
            <div class="row justify-content-center">
                <div class="col m-auto">
                    <p class="m-auto" id="description">
                        SmartSaver™ is your intelligent money saving
                        solution. Based on your spending habits we
                        calculate and provide you with advice on your
                        future spendings and help you reach your
                        desired goal. Our platform also provides you
                        with tips on investing in order to become
                        wealthy in the long run.
                    </p>
                </div>
                <div class="col-sm-5 mx-5 my-5 descimg" style="min-width:45vh; min-height: 45vh;"></div>
            </div>
        </div>
    </body>
</html>
}
