@{
    ViewData["Title"] = "Home Page";
}
<!-- This creates a link to the CSS file. -->
<link rel="stylesheet" type="text/css" href="~/css/generalDesign.css" />
<div class="container-fluid.max-width: 100%;">
    <div class="row">
        <div class="col-sm" style="padding:90px 30px 30px 30px; text-align:center; font-family:'Courier New'">
            <h1 style="text-align:center; font-size:80px;"> Smart <br> Saver </h1>
            <br> <a>You save - we count.</a> <br>

            smartsaver™ is your intelligent money saving
            solution. Based on your spending habits we
            calculate and provide you with advice on your
            future spendings and help you reach your
            desired goal. Our platform also provides you
            with tips on investing in order to become
            wealthy in the long run. <br><br>

            <button type="button" class="btn btn-outline-dark">GET STARTED</button>
        </div>  
        <div class="col-sm" style="background-color: #ebebe0">
            <img src="~/images/20dollars.jpg" style="background-size:cover; height: 700px">
        </div>
    </div>
    <div class="row" style="background-color:darkslategrey; height:100px;" />