<body>
    <div style="margin-top:30px">
        <a href="https://localhost:44314" style="text-decoration: none;">
            <img src="https://xfailai.lt/failai/file1608519710YbzL1pROgK_wZ8jr-m0v.png" width="45" height="45" />
            <img src="https://xfailai.lt/failai/file1608518925zUG-sR6NDWea_cKultF2.png" width="140" height="20" />
        </a>
    </div>


    <div align="center" style="font-size:24px;line-height:32px;font-family:Arial,Helvetica,sans-serif;color:#000;padding:26px 37px 32px;text-align:center">
        <strong>Verify your email address</strong>
    </div>

    <div align="center" style="color:#000000;font-size:18px;line-height:24px;font-family:Arial,Helvetica,sans-serif;text-align:center;padding:10px 24px 32px">
        To start using SmartSaver, just click the <strong>verify email</strong> button below:
    </div>

    <table align="center" style="padding-bottom: 50px;">
        <tr>
            <td align="center" style="background:#fff;color:#000;font-weight:bold;font-size:18px;line-height:22px;font-family:Arial,Helvetica,sans-serif;border:2px solid #000;border-radius:5px">
                <a style="padding: 12px 27px; color: #000; text-decoration: none; display: block" href="@ViewBag.VerifyLink">
                    Verify email
                </a>
            </td>
        </tr>
    </table>

    <table align="center" style="max-width: 520px;">
        <tr>
            <td align="center" style="border-top:1px solid;color:#a5a5a5;font-size:13px;line-height:18px;font-family:Arial,Helvetica,sans-serif;text-align:center;padding:50px 24px 32px">
                smartsaver is your intelligent money saving
                solution. Based on your spending habits we
                calculate and provide you with advice on your
                future spendings and help you reach your
                desired goal. Our platform also provides you
                with tips on investing in order to become
                wealthy in the long run.
            </td>
        </tr>
    </table>
</body>