@model SmartSaver.EntityFrameworkCore.Models.Account
@{
    ViewData["Title"] = "Create";

    string currencySymbol = System.Globalization.RegionInfo.CurrentRegion.CurrencySymbol;
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/generalDesign.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewBag.Title</title>
</head>

<div class="row mt-5">
    <div class="col-md-6">
        <form role="form" asp-controller="Dashboard" asp-action="Complete" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <label asp-for="Goal" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input asp-for="Goal" type="text" class="form-control">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span>@currencySymbol</span>
                            </div>
                        </div>
                    </div>
                    <small class="form-text text-muted">Amount or money you are willing to save.</small>
                    <span asp-validation-for="Goal" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Revenue" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input asp-for="Revenue" type="text" class="form-control">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span>@currencySymbol</span>
                            </div>
                        </div>
                    </div>
                    <small class="form-text text-muted">Your average monthly income.</small>
                    <span asp-validation-for="Revenue" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="GoalEndDate" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="date-input">
                        <input asp-for="GoalEndDate" type="date" required oninvalid="this.setCustomValidity('The field is required')" class="form-control">
                    </div>
                    <small class="form-text text-muted">When do you believe you will achieve your goal?</small>
                    <span asp-validation-for="GoalEndDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-2 col-8">
                    <button type="submit" class="btn">Submit</button>
                </div>
            </div>

        </form>
    </div>

    <div class="col-md-6">
        <img src="https://i.pinimg.com/originals/79/4e/0f/794e0f42ed46acfee213fccc5cd6aa93.jpg" class="img-thumbnail" />
    </div>
</div>
