@model IEnumerable<SmartSaver.MVC.Models.LoginViewModel>

<h4>@User.Identity.Name's dashboard</h4>

<p style="text-align: center;">@SmartSaver.Domain.Services.TipManager.Tips.DayBasedTip()</p>
<p style="font-size: 10px; text-align: center;"> tip of the day </p>
