@model AuthenticationViewModel
@{
    ViewData["Title"] = "Register";
}

<head>
    <title>@ViewBag.Title</title>
    <script src="~/js/views/authentication/register.js"></script>
</head>

<body class="pb-15 bg-dollar bg-center" onload="UsernameCheck(); EmailCheck()">
    <section class="auth-block pt-5">
        <div class="card center w-100" style="max-width:500px;">
            <div class="card-block">
                <div class="col-md-12">
                    <h4 class="text-center pb-4">Create New Account</h4>
                    <form method="post" asp-action="Register" asp-controller="Authentication" asp-route-returnUrl="@Context.Request.Query["returnurl"]">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group required">
                            <input asp-for="Username" class="form-control" oninput="UsernameCheck()" id="Username" placeholder="Username" />
                            <span asp-validation-for="Username" class="text-danger placeholder" id="Status1"></span>
                        </div>
                        <div class="form-group required">
                            <input asp-for="Email" class="form-control" oninput="EmailCheck()" id="Email" placeholder="Email" />
                            <span asp-validation-for="Email" class="text-danger" id="Status2"></span>
                        </div>
                        <div class="form-group required">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <small class="form-text text-muted font-italic">Make sure it's at least 5 characters including a number, lowercase and capital letter.</small>
                        </div>
                        <div class="form-group required">
                            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" style="padding:5px 35px 5px 35px;">Register</button>
                    </form>
                    <div class="or-container">
                        <div class="line-separator"></div>
                        <div class="or-label">or</div>
                        <div class="line-separator"></div>
                    </div>
                    <form method="post" asp-action="ExternalLogin" asp-controller="Authentication" asp-route-returnUrl="@Context.Request.Query["returnurl"]">
                        <div class="row pb-3">
                            <div class="col-md-12">
                                <button type="submit" name="provider" value="Google" class="btn btn-lg btn-auth btn-block text-uppercase btn-outline">
                                    <svg width="22" height="22" viewBox="0 0 18 19">
                                        <path d="M9 7.84363V11.307H13.8438C13.6365 12.428 12.9994 13.373 12.0489 14.0064V16.2534H14.9562C16.6601 14.6951 17.641 12.4029 17.641 9.67839C17.641 9.04502 17.5854 8.43176 17.4792 7.84865H9V7.84363Z" fill="#3E82F1"></path>
                                        <path d="M9.00001 14.861C6.65394 14.861 4.67192 13.2876 3.96406 11.1714H0.955627V13.4937C2.43709 16.4142 5.48091 18.4198 9.00001 18.4198C11.432 18.4198 13.4697 17.6206 14.9562 16.2533L12.0489 14.0064C11.245 14.5443 10.2135 14.861 9.00001 14.861Z" fill="#32A753"></path>
                                        <path d="M3.96404 5.45605H0.955617C0.348876 6.66246 0 8.02972 0 9.47238C0 10.915 0.348876 12.2823 0.955617 13.4887L3.96404 11.1714C3.78202 10.6335 3.6809 10.0605 3.6809 9.47238C3.6809 8.88426 3.78202 8.31122 3.96404 7.77336V5.45605Z" fill="#F9BB00"></path>
                                        <path d="M0.955627 5.45597L3.96406 7.77327C4.67192 5.65703 6.65394 4.08368 9.00001 4.08368C10.3197 4.08368 11.5079 4.53608 12.4382 5.42078L15.0219 2.85214C13.4646 1.40948 11.427 0.52478 9.00001 0.52478C5.48091 0.52478 2.43709 2.53043 0.955627 5.45597Z" fill="#E74133"></path>
                                    </svg>
                                    <div class="col-md-11">Google Register</div>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" name="provider" value="Facebook" class="btn btn-lg btn-auth btn-block text-uppercase btn-outline">
                                    <svg width="22" height="22" viewBox="0 0 18 19">
                                        <path d="M17.0062 0H0.99375C0.445312 0 0 0.445312 0 0.99375V17.0062C0 17.5547 0.445312 18 0.99375 18H9V10.875H6.84844V8.25H9V6.30938C9 3.98438 10.6125 2.71875 12.6891 2.71875C13.6828 2.71875 14.7516 2.79375 15 2.82656V5.25469H13.3453C12.2156 5.25469 12 5.78906 12 6.57656V8.25H14.6906L14.3391 10.875H12V18H17.0062C17.5547 18 18 17.5547 18 17.0062V0.99375C18 0.445312 17.5547 0 17.0062 0Z" fill="#4267b2"></path>
                                    </svg>
                                    <div class="col-md-11">Facebook Register</div>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
