.btn {
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    color: #343a40;
    border-color: #343a40;
    background-color: transparent;
    border-color: darkslategray;
    box-shadow: darkslategray;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: ease-out 0.7s;
}


.btn:hover {
    box-shadow: inset 300px 0 0 0 darkslategray;
    cursor: pointer;
        color: white;
}

.btn:active,
.btn:focus,
.btn:focus:active {
    box-shadow: inset 300px 0 0 0 darkslategray;
    color: white;
}

input[type="date"]::before {
    color: #999999;
    content: "Select date";
}

input[type="date"] {
    color: #ffffff;
}

input[type="date"]:focus,
input[type="date"]:valid {
    color: #666666;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
    content: none !important;
}

.form-group.required.control-label:before {
    content: "*";
    color: red;
}